<header class="custom-header py-3">
  <div class="container-fluid">
    <div class="row align-items-center">
      <!-- 左侧菜单 -->
      <div class="col-4 d-flex align-items-center">
        {% comment %} <a href="/" class="btn btn-outline-dark rounded-pill me-4 px-4 py-1 home-btn">HOME</a> {% endcomment %}
        <div class="d-flex align-items-center">
          {% for link in section.settings.menu.links %}
            {% if forloop.first %}
                <a href="{{ link.url }}" class="btn btn-outline-dark rounded-pill me-4 px-4 py-1 menu-btn">
                    {{ link.title }}
                </a>
            {% else %}
                <a href="{{ link.url }}" class="nav-link menu-link me-3 {% if link.links.size > 0 %} dropdown-toggle {% endif %}">
                    {{ link.title }}
                </a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <!-- LOGO 居中 -->
      <div class="col-4 text-center">
        {% if section.settings.logo != blank %}
          <img src="{{ section.settings.logo | image_url: width:200 }}" alt="Logo" class="mx-auto d-block" style="max-height:48px;" width="28" height="28"/>
        {% else %}
          <span class="fw-bold fs-2 logo-text">LOGO</span>
        {% endif %}
      </div>
      <!-- 右侧搜索和图标 -->
      <div class="col-4 d-flex justify-content-end align-items-center">
        <input type="text" class="form-control rounded-pill me-4" style="width:240px;max-width:100%;" placeholder="Search..." />
        <a href="{{ routes.search_url }}" class="d-flex align-items-center me-4">
            <img src="{{ 'icon-search.png' | asset_url }}" alt="search" width="28" height="28"/>
        </a>
        <a href="/pages/wishlist" class="d-flex align-items-center me-4">
            <img src="{{ 'icon-favorite.png' | asset_url }}" alt="favorite" width="28" height="28"/>
        </a>
        <a href="{{ routes.account_url }}" class="d-flex align-items-center me-4">
            <img src="{{ 'icon-user.png' | asset_url }}" alt="user" width="28" height="28"/>
        </a>
        <a href="{{ routes.cart_url }}" class="d-flex align-items-center">
            <img src="{{ 'icon-cart.png' | asset_url }}" alt="cart" width="28" height="28"/>
        </a>
      </div>
    </div>
  </div>
</header>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "主菜单",
      "default": "main-menu"
    }
  ]
}
{% endschema %}